<div id="<%= dom_id(message) %>" class="flex flex-col">
  <div class="flex">
    <%= message.content %>
  </div>
  <div class="flex">
    <%= raw message.image_content.gsub("```svg", "").gsub("```", "") %>
  </div>
</div>
