<h1>Welcome to the Pixel Bot!</h1>

<p class="p-2">Pixel Bot is a drawing game where players take turns drawing and guessing words. The game is played in rounds, with each round consisting of a single player sending prompts to an LLM to generate images for a particular word while the other players guess the word.</p>

<%= link_to "New Game", new_game_path, class: "rounded p-2 text-white bg-blue-500 hover:bg-blue-800" %>
